html { margin:0;
  background-color: #dee3e0;
  overflow-y: scroll; 
  overflow-x:hidden;
 }
body { position: absolute; }

.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main";
  grid-template-areas: 1fr;
  grid-template-rows:  1fr;
  height: 100%;
}

.header{
  grid-area: header;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding-left:130px;
  padding-right: 120px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  text-decoration: none;
  height: 50px;
  width: 1400px;
  position: absolute;
  
}
.title{
  margin-right: 1%;
}
.title a:hover{
  color: #ad0312;
}
.bgst{
  font-family: "Lucida Bright", monospace;
  font-size: 2.5rem;
  font-weight: bold;
  color: #ad0312;
  text-decoration: none !important;
}
.red{
  color: #ad0312;
  
}
.icon-size{
  font-size: medium;
}

.link{
  height: 50px;
  padding: 10px 15px; 
  
}

.link:hover{
  cursor: pointer;
  background-color: #ccc;
  
  color: #ad0312;
}
a:hover{
  text-decoration: none !important;
}
.link-blue{
  color:#b5e2f5
}


.link-blue:hover{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.extra-link{
  font-size: 20px;
}
.active{
 border-bottom:2px solid #ad0312 ;
 color: #ad0312 !important;
}

.home-tab-navbar{
  height:50px;
}
/* Search-box*/

.search-box{
  height: 40px;
  background: #2f3640;
  border-radius: 40px;
}
.search-btn{
  color: #ad0312;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding-left:10px ;
  color: #e8da13;
  font-size: 16px;
  line-height: 40px;
  width: 300px;
}
.search-btn:hover{
  text-decoration: none;
  color:#ad0312;
}
.question{
  height: 30px;
  background: #ad0312;
  border-radius: 40px;
  color: white;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  padding:3px 10px 0px 10px; 
}

/* Search Modal */
.overlay-search-modal{
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(39, 37, 37, 0.7);
  z-Index: 50;
}
.search-modal{
  position: absolute;
  margin-top: 13%;
  left: 54.5%;
  transform: translate(-50%, -50%);
  background-color: none;
  box-sizing: border-box;
  z-index: 1000;
  min-height: 215px;
  width: 345px;
  border-radius:5px;
}
.search-modal-textarea{
  min-height: 40px;
  width:100%;
  display: block;
  word-wrap:break-word;
 }
 .search-modal-content{
   display:flex;
   border-bottom: 2px solid  #b3adad;
  background-color: #fff;
 }
 .search-modal-content:hover{
  cursor: pointer;
 }
.search-modal-text{
  padding-left: 13px;
  padding-top: 5px;
  font-size: 16px;
  width: 303px;
  display: flex;
  }
  .search-modal-image{
    height:24px;
    width:24px;
  }
  .search-modal-profile-text{
    padding-left: 5px;
    padding-right:8px;
  }
.search-headline{
  color:#989898;
}

.search-modal-btn{
  color: #ad0312;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The Question Modal */

.style-modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gainsboro;
  box-sizing: border-box;
  z-index: 1000;
  height: auto;
  width: 590px;
  border-radius:10px;
}
.overlay-modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(39, 37, 37, 0.7);
  z-Index: 1000;
}
.top{
  height: 54px;
  display: flex;
  border-bottom:#bdbebf 2px solid;
}
.middle{
  height: 150px;
  background-Color: #FFF; 
}
.middle-content{
  padding: 10px;
  font-size: 17px;
}
.middle-content-input{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  width: 100%;
  overflow-wrap: break-word;
  background-color: #eee;
}
.middle-content-input:focus{
  outline: none;
}

/*************************/

.modal-title{
  font-size: 40px;
  margin-left: 27.5%;
}
.close{
  font-size: 25px;
  margin-left: 23%;
  margin-top: 2%;
 
  border-radius:50%;
  height: 35px;
  width: 35px;
  text-align: center;
  padding-top: 4px;
}

.close:hover{
    background-color: #f2f4f7;
    cursor: pointer;
}

.bottom{
  height: 54px;
  display: flex;
  border-top:#bdbebf 2px solid;
  padding-left: 56%;
  padding-top: 1%;
}
.bottom-cancel{
  height: 25px;
  padding: 0 10px 0 10px;
  margin: 5%;
  margin-bottom: none;
}
.bottom-cancel:hover{
  background-color: #ccc;
  border-radius: 40px;
  cursor: pointer;
}
.bottom-add-question{
  margin-top: 5%;
  background: #ad0707;
  height: 25px;
  width: auto;
  border-radius: 40px;
  padding: 0 10px 0 10px ;
}
.bottom-add-question:hover{
  color: #fff;
  background-color: #ad0312;
  cursor: pointer;
}


/*      HomeScreen           */
main{
  margin-top: 4.5rem;
  
  position: absolute;
}
.loaders{
  margin-left:300px;
}
.homepage{
  min-height: 1400px;
  height: auto;
  width:700px;
  background-color: #ffffff;
  overflow: visible;
  justify-content: center;
}
.posts{
  background-color: #ffffff;
  min-height: 125px;
  width: 700px;
  margin: .6rem 0 .6rem 0;
  padding: 20px;
  padding-top:0px;
}
.posts .flex-container{
  
  display: flex;
  flex-wrap: wrap;
}
.posts .flex-container > div{
  margin: 5px;
}
/*.posts img {
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
}*/
.second-flex{
  display: flex;
  flex-wrap: wrap;
}
.second-flex > p{
  padding:0 2px 0 2px;
  margin-bottom: -5px;
}
.white{
  color:#989898;
  
}
.white-question{
  color:#989898;
}
.white-question:hover{
  color:#989898;
  text-decoration: underline;
  cursor: pointer;
}

/* SignIn */
.signin{
  height: 500px;
  width: 700px;
  background-color: #ffffff; 
  position: absolute;
  margin-top: 100px;
  margin-left: 320px;
  padding-top: 90px;
}


.Left{
  border-right: 1px solid#e4ede6 ;
  position: absolute;
  right: 50%;
  height: 340px;
  width:300px;
  padding-right: 5%;
}

.Right{
  position: absolute;
  left: 50%;
  height: 250px;
  width: 300px;
  padding-left: 5%;
}

.input-signin{
  width: 100%;
  margin: 10px 0px 10px 0px;
  background-color:#e8e7e3;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.input-signin:focus{
  border: 2px solid #ad0312;
  background-color: #ffffff;
  box-shadow:  .5px .5px .5px .5px inset rgba(0, 0, 0, 0.2);
  padding: 3px;
  outline: none;
}
.form-error-message{
  font-size: 14px;
  color: #ad0312;
}
.login-button{
  margin-top: 5%;
}
.signup-button{
  margin-top: 5%;
}
.error{
  font-size: 16px;
  color: #ad0150;
}
.error-message{
  padding-left: 8%;
}
/* Account Created */
.account{
  height: 500px;
  width: 850px;
  background-color: #ffffff; 
  position: absolute;
  top: 100px;
  left: 260px;
  padding:.5%;
}

.details-box{
 border-style: outset;
 height: 100%;
 width: 100%; 
}

.inside-details{
  padding: 2%;
}
.inside-color{
  border-left: 3px solid #ad0312;
  background-color: #dee3e0;
  font-size: 26px;
  padding-left: 5px;
}
.inside-second{
  font-size: 24px;
  margin-top: 3%;
  height: 150px;
}
.add-image{
}
.inside-second-buttons{
  display:flex;
  margin-left: 15%;
}
.sp{
  margin-top: 10px;
  height: 40px;
}
.save-details{
  text-align: center;
}
/* Profile */
.profile-main{
  margin-top: 4.5rem;
  padding-left:290px;
  position: absolute;
}
.profile{
 min-width: 800px;
 min-height: 800px;
 height: auto;
 background-color: #ffffff;
 /*margin: 5rem 0px 0px 300px;*/
 padding: 30px 70px 0 70px; 
}
.profile-img{
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
}
.single-card-img{
  border-radius: 50%;
  max-width: 36px;
  max-height: 36px;
}
/* Card-image*/
.profile-headline{
  display: flex;
}
.profile-headline > div{
  padding-right: 20px;
}
.headline-details{
  width: 100%;
  height: 100px;
  padding-top:25px;

}
.headline-details-links{
  display:flex;
}
.profile-name{
  font-size: 30px ;
  font-weight: 645;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 20px;
}
.delete-profile-link{
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left:60%;
}
.delete-profile-link:hover{
  cursor:pointer;
  background-color: #edeff2;
  border-radius: 50%;
}
.headline-link{
   color:#989898;
}
.headline-link:hover{
  color: #989898;
}
.headline-link-edit{
  margin-top:-5px;
  color:#989898;
  height: 24px;
  width:30px;
}
.headline-link-edit:hover{
  color: #989898;
  cursor: pointer;
}
.profile-details{
padding-top: 15px;
margin-top: 10px;
}
.followers-count{
  font-size: 14px;
  color:#989898;
  padding-bottom: 1px;
  display:flex;
}
.profile-navbar{
  height: 40px;
  width: 95%;
  border-top: solid 2px #e3e8e5;
  border-bottom: solid 2px #e3e8e5;
  font-size: 14px;
  margin-top: -14px;
  display: flex;
}
.profile-navlinks{
  height:38px;
  padding: 0 25px 0 25px;
  width: fit-content;
  padding-top: 7px;
  text-align: center;
}
.navlinks-color{
  color: #989898;
  height: 100%;
}
.profile-navlinks:hover{
  background-color: #e3e8e5;
  color: #989898;
  cursor: pointer;
}

.profile-details-section-header{
  height: 40px;
  width: 95%;
  border-bottom: solid 2px #e3e8e5;
}
.profile-details-section-header-content{
  padding-top: 10px;
}

/* Question Profile */
.question-card{
  
  padding-top: 20px;
  width: 95%;
  border-bottom: solid 2px #e3e8e5;
  background-color: #fff;
}
.card-title{
  word-wrap: break-word;
  color:black
}
.card-title:hover{
  color:black;
  text-decoration:underline;
}
.card-question-details{
  display: flex;
  
}
.card-question-details > p{
  padding: 0 2px 0 2px;
  color: #989898;
  font-size: 14px;
}
.card-separator{
  margin-top: -3.5px;
}
.card-question-bottom{
  margin-top: -10px;
  color: #2962e6;
  display: flex;
  font-size: 16px;
  width: 91%;
  height: 30px;
  margin-bottom: 5px;
}
.card-question-bottom-left{
  display: flex;
}
.question-pencil{
  padding-right: 11px;
  padding-left: 4px;
  padding-top: 2px;
  width: max-content;
}
.question-pencil:hover{
  background-color: #edeff2;
  border-radius: 40px;
  cursor: pointer;
}


.card-question-bottom-right{
  margin-left: 530px;
  display: flex;
  font-size: 18px;
  color:#989898;
  position: absolute;
}
.question-edit{
  padding-top:1px;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 18px;
}
.question-edit:hover{
  cursor: pointer;
  background-color: #edeff2;
  border-radius: 50%;
}
.question-share{
  padding-right: 5px;
  padding-left: 5px;
}
.question-share:hover{
  cursor: pointer;
  background-color: #edeff2;
  border-radius: 50%;
}
.question-delete{
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 1px;
}
.question-delete:hover{
  cursor: pointer;
  background-color: #edeff2;
  border-radius: 50%;
}



/* Delete Modal */
.delete-modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gainsboro;
  box-sizing: border-box;
  z-index: 1000;
  height: auto;
  width: 500px;
  border-radius:10px;
}
.delete-modal-title{
  font-size: 40px;
  margin-left: 20%;
}
.delete-middle{
  height: 130px;
  background-Color: #FFF;
  padding: 20px 20px 20px 40px ;
  border-bottom:#ad0312 5px solid;
}
.delete-bottom{
  display: flex;
  padding-top: 5px;
  margin-left:24% ;
}
.bottom-cancel-button{
  height: 35px;
  width: 80px;
  border-radius: 40px;
  padding: 5px 10px 5px 15px;
  margin: 5%;
  margin-bottom: none;
  background-color: #ccc;
}
.bottom-cancel-button:hover{
  cursor: pointer;
  background-color: #5c5b54;
}
.bottom-delete-button{
  margin-top: 5%;
  background: #edda0c;
  height: 35px;
  width: 80px;
  border-radius: 40px;
  padding: 5px 8px 5px 17px ;
}
.bottom-delete-button:hover{
  cursor: pointer;
  background-color: #7a6c05;
}
/* ----------------- */
/*------Search Page---------*/
.search-page{
  width: 700px;
  min-height: 560px;
  height:auto;
  background-color: #ffffff;
  margin: 5rem 0px 0px 340px;
  padding: 30px 20px 0 20px; 
}
.search-page-section{
  border: 2px solid  #dee3e0;
  height: 500px;  
}
.search-page-header{
  height:50px;
}
.search-page-title{
  margin-left: 30%;
}
.search-page-content{
  padding:17px;
  border-bottom: 2px solid #dee3e0;
  margin:0 20px;
  height: 90px;
  width: 95%;
}
.search-results{
  padding:10px;
  border-bottom: 2px solid #dee3e0;
  margin:0 20px;
}
.search-profile-name{
  margin-left:10px;
}
.search-user-image{
  height: 32px;
  width: 32px;
}
.search-user-details{
  display: flex;
}
.search-links{
  color:black
}
.search-links:hover{
  color:#ad0312;
}
/* Edit Page */
.edit-page-main{
  margin-top: 4.5rem;
  padding-left:330px;
  position: absolute;
}
.edit-page{
 width: 700px;
 min-height: 560px;
 height:auto;
 background-color: #ffffff;
 /*margin: 5rem 0px 0px 340px;*/
 padding: 30px 20px 0 20px; 
}
.edit-page-section{
  border: 2px solid  #dee3e0;
  height: 500px; 
}
.edit-page-header{
  height:50px;
}
.edit-page-title{
  margin-left: 35%;
}
.edit-details-section{
  margin-top: 3%;
  padding-left:40px;
}
.edit-content{
  display:flex;
  margin-top:10px;
}
.edit-content-instructions{
  display:flex;
  margin-top:10px;
}
.edit-icon-username{
  padding-left: 7.8%;
  cursor: pointer;
}
.edit-icon-email{
  padding-left: 39%;
  cursor: pointer;
}
.edit-icon-password{
  margin-left: 59.75%;
  cursor: pointer;
}
.edit-icon-description{
  margin-left: 4.75%;
  margin-top: 2%;
  cursor: pointer;
}
.label-details{
  font-size: 20px;
  padding-left:10px;
}
.label-details-username{
  font-size: 20px;
  padding-left:10px;
  width: 400px;
}
.description-details{
  width: 400px;
  height:100px;
  font-size: 20px;
  padding-left: 10px;
}
.input-edit{
  margin: 2px 0px 20px 0px;
  width: 60%;
  background-color:#e8e7e3;
  border-radius: 5px; 
}

/* Individual Question */
 .individual-question{
  width: 800px;
  min-height: 150px; 
  background-color: #ffffff;
  margin: 5rem 350px 0px 280px;
  padding: 30px 70px 0 70px; 
 }
.individual-card{
  height: auto;
  min-height: 70px;
  padding-top: 20px;
  width: 100%;
  border-bottom: solid 2px #e3e8e5;
  word-wrap: break-word;
}
.individual-question-bottom{
  margin-top:2%;
  color: #2962e6;
  display: flex;
  font-size: 14px;
  width: 91%;
  height: 30px;
}
.individual-question-bottom-right{
  margin-left: 80%;
  display: flex;
  font-size: 18px;
  color:#989898;
}
.downvote{
  padding-top:1px;
  padding-right: 7px;
  padding-left: 7px;
  font-size: 18px;
  margin-top: -4px;
}
.downvote:hover{
  cursor: pointer;
  background-color: #edeff2;
  border-radius: 50%;
}
.upvote{
  padding-right: 7px;
  padding-left: 7px;
  margin-left:7px;
  margin-right: 7px;
}
.upvote:hover{
  cursor: pointer;
  background-color: #edeff2;
  border-radius: 50%;
}
.answers-section-header{
  height: 40px;
  width: 100%;
  padding-top: 10px;
  border-bottom: solid 2px #e3e8e5;
}
.answers-card{
  min-height: 250px;
  height: auto;
  margin: .6rem 0 .6rem 0;
}
.answers-card .flex-container{
  display: flex;
  flex-wrap: wrap;
}
.answers-card .flex-container > div{
  margin: 5px;
}
.answers-card img {
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
}
.second-flex{
  display: flex;
  flex-wrap: wrap;
}
.asnwers-card .second-flex > p{
  padding:0 2px 0 2px;
  margin-bottom: -5px;
  text-align: center;
}


/*----------------EDITOR STYLING---------------------------*/
div.rdw-editor-main{
  height:192px;
}
div.DraftEditor-root{
  margin-top:-1.9em;
}
div.DraftEditor-editorContainer{
  padding: 0;
}

.flex-container{
  display: flex;
  flex-wrap: wrap; 
}
.user-details{
  padding-left:5px;
  width: 90%;
  margin-top:-5px;
}
.details-description{
  min-height: 42px;
  word-wrap: break-word;
  font-style: italic;
  font-size: .9rem;
}
.details-description-profile{
  word-wrap: break-word;
  font-style: italic;
  font-size: .9rem;
}
.details-description-search{
  font-style: italic;
  font-size: .9rem;
  padding-left:5px;
}
.details-description-profile:hover{
  cursor: pointer;
}
.black{
  color:black;
}
/*-----------COMMENTS--------------*/
.loaders-comment{
margin-left: 5%;
}
.option-comment{
display: flex;
padding-left:10px;
padding-top:9px;
color: #2962e6;
width:50%
}
.option-comment:hover{
  cursor: pointer;
}
.comment-section{
  display:flex;
  height:50px;
  padding:7px 10px 0px 10px;
  background-color: #f5f4f0;
}
.comment-box{
  height: 36px;
  background: #fff;
  border-radius: 40px;
  margin-left: 10px;
  display: flex;
}
.comment-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding-left:10px ;
  color: black;
  font-size: 16px;
  line-height: 40px;
  width: 450px;
}
.cs{
  margin-top:3px;
  height:30px;
  padding: 3px 1px 0 1px ;
  margin-left:5px;
  border-radius: 40px;
  background-color:#2962e6 ;
  color:white;
}
.cs:hover{
  background-color: #5474bf;
  cursor: pointer;
}
.individual-comment{
  min-height: 80px;
  padding:7px 10px 0px 10px;
  background-color:#fff;
  border: 1px solid  #dee3e0;
  border-bottom: none;
}
.comment-user{
  display: flex;
  height: 40px;
}
.comment-user-details{
  margin-left: 15px;
  display: flex;
  font-size: 14px;
}
.particular-comment{
  width: 80%;
  min-height: 20px;
  margin-left: 50px;
  margin-top: -17px;
}
.comment-buttons{
  display:flex;
  margin-left: 8.4%;
  color:#989898;
}
.comment-edit{
  padding-right: 4px;
  padding-left:4px;
  margin-top:-1px;
}
.comment-edit:hover{
  cursor: pointer;
  background-color: #edeff2;
  border-radius: 50%;
}
.comment-delete{
  
  padding-right: 4px;
  padding-left:4px;
  margin-top:-1px;
}
.comment-delete:hover{
  cursor: pointer;
  background-color: #edeff2;
  border-radius: 50%;
}
